html {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

svg {
    max-width: 300px;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #333333
}
